body{
    background-color: #D9D9D9;
}
.container {
    font-family: 'Open Sans', sans-serif;
    color: #1D2626;
    width: auto;
}
.col-4 {
    text-align: center;
    padding-top: 50px;
}
#name {
    font-weight: 400;
    padding-top: 20px;
}
#title {
    font-weight: 300;
    letter-spacing: .25em;
}
.bi {
    color: #1D2626;
}
#about {
    font-weight: 400;
    text-align: center;
}
#aboutme {
    padding-top: 10px;
}
#mission{
    text-align: center;
    font-weight: 400;
}
#experience {
    text-align: center;
}
#skills {
    text-align: center;
}
#mywork{
    text-align: center;
}
.card{
    background-color: #D9D9D9;
    border: 0em;
    text-align: center;
    margin: 0 auto;
}
.btn{
    background-color:#1D2626;
    border: 0em;
}
.card-img-top{
    border-radius: 5%;
    max-height: 11em;
}
.bi {
    color: red;
    font-size: 2em;
}