body{
    background-color: #D9D9D9;
}
.container {
    font-family: 'Open Sans', sans-serif;
    color: #1D2626;
    width: auto;
    align-items: center;
    margin: auto;
}
.col-4 {
    text-align: center;
    padding-top: 50px;
}
#name {
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
}
#title {
    font-weight: 300;
    letter-spacing: .25em;
    text-align: center;
}
#bi {
    color: #1D2626;
    text-align: right;
}
#about {
    font-weight: 400;
    text-align: center;
}
#aboutme {
    padding-top: 10px;
}
#mission{
    text-align: center;
    font-weight: 400;
    line-height: 1.8em;
}
#experience {
    text-align: center;
    padding-top: 25px;
}
#skills {
    text-align: center;
    padding-top: 25px;
}
#mywork{
    text-align: center;
    padding-top: 25px;
}
.card{
    background-color: #D9D9D9;
    border: 0em;
    text-align: center;
    margin: 0 auto;
}
.btn{
    background-color:#1D2626;
    border: 0em;
}
.card-img-top{
    border-radius: 5%;
    max-height: 11em;
}
.bi {
    color: #1D2626;
    font-size: 3em;
    text-align: center;
    line-height: 3em;
}
.navbar-toggler {
    background-color: #D9D9D9;
}
.nav-item {
    text-align: center;
}
.icons {
    word-spacing: 2em;
    margin-top: 50px;
    text-align: center;
}
.headshot img {
    margin-left: 50px;
}