BODY{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color:#444;
    font-weight: 400;
}

h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
}

strong{
    color: #33485e;
    font-size: 1.5em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: #fff;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
    font-style: italic;
}

ul {
    font-size: 1em;
}