/* Styles for resume */

/* Body font, size color */

BODY{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color:#444;
    font-weight: 400;
}

/* Name */

h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
}

/* Title */

strong{
    color: #33485e;
    font-size: 1.5em;
    text-transform: uppercase;
}

/* Section headers banners */

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: #fff;
}

/* Job titles */

h3 {
    font-size: 1.5em;
    font-weight: 600;
}

/* Job organizations */

h4 {
    font-size: 1.5em;
}

/* Job dates */

h5 {
    font-size: 1em;
    font-style: italic;
}

/* Contact info, experience, skills */

ul {
    font-size: 1em;
}